APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/ShanghaiROUTE_MUST = false[DATABASE]TYPE = mysqlHOSTNAME = 192.168.0.1DATABASE = devicemanagerUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8DEBUG = true[LOG]TYPE = file[REDIS]TYPE = fileHOSTNAME = 127.0.0.1AUTH = secretHOSTPORT = 6379[LANG]default_lang = zh-cn[REPORTER]ASYN_MODE = falseTYPE = DingSWOOLE_WORKER_NUM = 1SWOOLE_TASK_WORKER_NUM = 1SWOOLE_LOG = /mnt/test/log/swoole_logMESSENGER_DEFAULT_TOKEN =MESSENGER_DEFAULT_KEYWORDS = 勤鸟小伙伴